.image-type {
    padding: 10px;
}

#imageTable, #taskTable {
    padding-left: 0;
}

#imageDetailCard, #selectImageCard, #selectTagCard, #subTaskCard {
    display: none;
    position: absolute;
    width: 600px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

#imageTaskCard {
    width: 1000px;
    max-height: 550px;
    overflow: auto;
}

#selectImageCard, #selectTagCard {
    width: 500px;
    max-height: 550px;
    overflow: auto;
}
